<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.rialdave.alfred-iconify</string>
	<key>connections</key>
	<dict>
		<key>05450F7C-3D4F-45BF-ACA3-9422EF54EFDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A54554C-598A-41C6-B0D9-62046CEFB1AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F55F589-136C-48BA-85ED-35F1DBC3B539</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05450F7C-3D4F-45BF-ACA3-9422EF54EFDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A54554C-598A-41C6-B0D9-62046CEFB1AD</key>
		<array/>
		<key>902035D9-70D9-43C9-9B15-A58DE40794A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05450F7C-3D4F-45BF-ACA3-9422EF54EFDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dave Richter</string>
	<key>description</key>
	<string>Search and copy Iconify Icon to the clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Iconify Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>terminal-trigger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>0F55F589-136C-48BA-85ED-35F1DBC3B539</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5A54554C-598A-41C6-B0D9-62046CEFB1AD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>icon</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>osascript -l JavaScript iconify_iconsearch.js "$1" 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Info: downloading preview icons takes a moment</string>
				<key>title</key>
				<string>Search icon</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>05450F7C-3D4F-45BF-ACA3-9422EF54EFDD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>34</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>I</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>902035D9-70D9-43C9-9B15-A58DE40794A6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Iconify search

Type an icon name from iconify, to find and copy it's identifier.
Please always respect the related licenses of icons.
Overview: https://icon-sets.iconify.design/

You can also define your preferred icon namespace (e.g. "mdi" for material design icons)

Hotkey: `⌘` + `⌃` + `I`

Search trigger: `"icon [query]"`</string>
	<key>uidata</key>
	<dict>
		<key>05450F7C-3D4F-45BF-ACA3-9422EF54EFDD</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>0F55F589-136C-48BA-85ED-35F1DBC3B539</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>5A54554C-598A-41C6-B0D9-62046CEFB1AD</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>902035D9-70D9-43C9-9B15-A58DE40794A6</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>mdi</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Preferred Namespace</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>preferred_namespace</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/rialDave/alfred-iconify</string>
</dict>
</plist>
